# Discord Bot
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_PUBLIC_KEY=

# Database
TURSO_DB_URL=
TURSO_AUTH_TOKEN=

# Pusher
PUSHER_APP_ID=
PUSHER_SECRET=
NEXT_PUBLIC_PUSHER_KEY=
NEXT_PUBLIC_PUSHER_CLUSTER=

# Web Hub
WEB_HUB_URL=
